<?php

return [

    'server'=>  ['host_ip'=>'xx.xx.xx.xx','name'=>''],

    //time interval for daemon to rest in seconds
    'pause_interval'=>  2,

    'disks'=>  [
        '/path'
    ],

    'db'=>  [
        'driver'        => '',
        'host'          => '',
        'database'      => '',
        'username'      => '',
        'password'      => '',
        'charset'       => 'utf8',
        'collation'     => 'utf8_unicode_ci',
        'prefix'        => ''
    ]

];
